/* noflake */
html {
    height: 100%;
}
body {
    height: 100%;
    font-family: 'Crimson Text', serif;
    background-image:url(../img/diamond_upholstery.png);
    background-repeat: repeat;
}
.wrapper {
    min-height: 100%;
    height: auto !important; /* ie7 fix */
    height: 100%;
    margin: 0 auto -125px;
}
.header {
    margin-top: 10px;
    text-align: center;
}
.header h1 {
    font-size: 4.0em;
}
.main {
    width: 600px;
    height: 800px;
    margin-left: auto;
    margin-right: auto;
    line-height:1.1em;
    font-size: 1.5em;
}
.thelist li {
    font-weight:bold;
}
.footer {
    padding: 20px;
    background-color: #333;
    color: #eee;
    background-image:url(../img/dark_wall.png);
    background-repeat: repeat;
    height: 250px;
    border-top: 10px solid #333;
}
.footer h2 {
    font-family: 'Tangerine', serif;
    font-size: 3.0em;
    padding-bottom: 6px;
    margin-bottom:0px;
    border-bottom: 2px solid #333;
    text-align: center;
}
.footer .block {
    width: 310px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Crimson Text', serif;
    font-size:1.2em;
}
.footer .block ul {
    text-align: center;
    color: #999;
    margin: 0;
    list-style-type: none;
}
.footer .block ul li {
    padding-left: 10px;
}
.footer .block ul li:before {
    content: "~ ";
}
.footer .block ul li:after {
    content: " ~";
}
.footer .block ul a {
    color: #999;
}
.footer .block ul li {
    line-height: 2.0em;
    border-bottom: 1px dashed #333;
}
.github-banner {
    text-indent:-10000px;
    display:block;
    background-image: url('../img/forkme_right_red_aa0000.png');
    background-repeat:no-repeat;
    width: 149px;
    height: 149px;
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
}
